*{
    box-sizing: border-box;
}
body{
    margin: 0;
    width: 1389px;
    height: auto;
    overflow-x: hidden;
    overflow-y: hidden;
}
.body-stadium{
    height: 100vh;
    width: 100%;
    border-radius: 191px;
    background-color:white;
}

.tribunecan1 {
    margin-left: 118px;
    border-top: 70px solid  rgb(238, 255, 0);
    border-left: 54px solid transparent;
    border-right: 68px solid transparent;
    display: block;
    margin-top: -9px;
    width: 1155px;
    height: 7vh;
}
#ran1{
    transform: translate(-39px, -64px);
    display: flex;
}
#ran2{
    transform: translate(-13px, -64px);
    width: 100%;
}
#ran3{
    transform:translate(47px, -86px);
    display: flex;
}
#ran4{
 transform: translate(129px, -86px);
    display: flex;
}


#colc2{
    transform: translate(31px, 1px);
        width: 15px;
    display: block;
    height: auto;
}
#colc3{
    transform: translate(34px, -6px);
    width: auto;
display: block;
height: auto;
}
#colc4{
    transform:translate(35px, -8px);
    width: auto;
display: block;
height: auto;
}
#colc5{
    transform:translate(39px, -16px);
    width: auto;
display: block;
height: auto;
}
#colc6{
    transform:translate(41px, -22px);
    width: auto;
display: block;
height: auto;
}
#colc7{
    transform: translate(42px, -20px);
    width: auto;
display: block;
height: auto;
}
#colc8{
    transform: translate(46px, -20px);
    width: auto;
display: block;
height: auto;
}
#colc9{
    transform: translate(47px, -22px);
    width: auto;
display: block;
height: auto;
}
#colc10{
    transform: translate(48px, -30px);
    width: auto;
display: block;
height: auto;
}
#colc11{
    transform: translate(48px, -4px);
        width: auto;
display: block;
height: auto;
}
#colc12{

    transform: translate(50px, -8px);
        width: auto;
display: block;
height: auto;
}
#colg03 {
    transform: translate(-315px, 15px);
    width: 17px;
    display: block;
    height: 91vh;
}
#colg02 {
    transform: translate(-351px, 13px);
        width: 17px;
    display: block;
    height: 91vh;
}
#colg01 {
    transform: translate(-385px, 9px);
       width: 17px;
    display: block;
    height: 91vh;
}

#colg1 {
    transform: translate(-167px, 20px);
    width: 17px;
    display: block;
    height: 91vh;
}
#colg2{
    transform: translate(-165px, 3px);
        width: 14px;
    display: block;
    height: auto;
}
#colg3{
    transform: translate(-160px, 7px);
    width: 14px;
    display: block;
    height: auto;
}
#colg5{
    transform: translate(-153px, 3px);
    width: 14px;
    display: block;
    height: auto;
}
#colg6{
    transform: translate(-149px, -1px);
        width: 14px;
    display: block;
    height: auto;
}
#colg7{
    transform: translate(-144px, 3px);
        width: 14px;
    display: block;
    height: auto;
}
#colg8{
    transform: translate(-140px, 2px);
        width: 14px;
    display: block;
    height: auto;
}
#colg9 {
    transform: translate(-134px, 2px);
    width: 14px;
    display: block;
    height: auto;
}
#colg4{
    transform: translate(-157px, 0px);
    width: 14px;
    display: block;
    height: auto;
}

#ran2A {
    transform: translate(125px, -7px);
    width: 100%;
    justify-content: flex-start;
    display: flex;
    align-content: normal;
}
#jaune{
    width: 22px;
    height: 15px;
    justify-content:space-around;
    margin-bottom: 0px;

}
#mouv{
    width: 22px;
    height: 15px;
}
#vue{
    width: 22px;
    height: 15px;
}

.tribunecan2 {
    transform: translateY(-44px);
    margin-left: 62px;
    margin-bottom: -45px;
    border-left: 224px solid rgb(137, 226, 4);
    border-top: 42px solid transparent;
    border-bottom: 45px solid transparent;
    justify-content: space-between;
    align-items: center;
    display: flex;
    position: left;
    width: 16%;
    height: 89vh;
}

.tribunecan4 {
    transform: translate(65px, -44px);
    margin-right: 91px;
    border-right: 204px solid rgb(247, 60, 60);
    border-top: 45px solid transparent;
    border-bottom: 23px solid transparent;
    justify-content: space-between;
    align-items: center;
    display: flex;
    position: left;
    width: 16%;
    height: 89vh;
}

.tribunecan3 {
    justify-content: space-between;
    align-items: center;
    margin-right: 12px;
    background-color: rgb(7, 206, 7);
    width: 781px;
    height: 14vh;
    display: flex;
    margin-left: 315px;
} 
.bandetouche1{
    border: solid 2px white;
    width: 138px;
    height: 40px;
    margin-top: 22px;
    margin-left: 179px;
 
} 
.bandetouche2 {
    border: solid 2px white;
    width: 138px;
    height: 40px;
    margin-top: 22px;
    margin-right: 179px;
   
}
.face{
    margin-left:30px;
    height:72vh;
    width: 1458px;
    display: flex;

}

.stade {
    margin-left: -9px;
    margin-right: -97px;
    display: flex;
    width: 777px;
    height: 78vh;
    background-color: rgb(7, 206, 7);
}

    .entrersurface1 {
        width: 78px;
        height: 19vh;
        border-right: solid 2px white;
        border-radius: 50%;
        transform: translate(-44px, 68px);
    }
  
.entrersurface2{
    width: 78px;
    height: 19vh;
    border-left: solid 2px white;
    border-radius: 50%;
    transform: translate(86px, 68px);
 }  

.peulouse{
    border: solid 2px white;
    transform: translate(37px, -13px);  
     align-items: center;
    justify-content: space-between;
    height: 70vh;
    width: 700px;
    background-image:repeating-radial-gradient(green, green, #014e01,green,green,#014e01,green, green, #014e01,green, green, #014e01,green, green, #014e01,green, green, #014e01,green, green, #014e01);
    display: flex;
    margin-top: 41px;
    margin-left:none;
}
.mileu{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25%;
    height: 100%;
}
.gauche{
    display: flex;
    width: 35%;
}
.droite{
    width: 35%; 
    display: flex;
}
.part1{
    
    border: solid 2px white;
    width: 124px;
    height: 44vh;
    border-left: none;
    
}
.poto1{
    width: 22px;
    height: 4vh;
    border-right: solid 1px white;
    border-bottom: solid 1px white;
    transform: translate(-4px,-75px);
    border-radius: 28px;
}
.poto2{
    width: 22px;
    height: 4vh;
    border-right: solid 1px white;
    border-top: solid 1px white;
    transform:translate(-4px,129px);
    border-radius: 28px;
}
.poto3{
    width: 22px;
    height: 4vh;
    border-left: solid 1px white;
    border-bottom: solid 1px white;
    transform: translate(103px,-73px);  
    border-radius: 28px;
}
.poto4{
    width: 22px;
    height: 4vh;
    border-left: solid 1px white;
    border-top: solid 1px white;
    transform: translate(103px,129px);
    border-radius: 28px;
}
.part2{
   margin-left:auto;
    border: solid 2px white;
    width: 124px;
    height: 44vh;
    border-right: none;
}
.can1{
 
    border: solid 2px white;
    width: 70px;
    height: 24vh;
    transform: translate(-1px,30px);
    border-left: none;

}
.can2{
   
    border: solid 2px white;
    width: 70px;
    height: 24vh;
    transform: translate(54px,28px);
    border-right: none;

}
.middle{
    border: solid 1px white;
    height: 100%;
    width:1px;
}
.circle{
    border: solid 2px white;
    align-items: center;
    width: 90px;
    height: 90px;
    border-radius: 50%;
    transform: translate(-45px, 147px);

}
.point{
    background-color:white;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    transform: translate(-6px,99px);

}
.pointpenaty{
    width: 7px;
    height: 7px;
    background-color: white;
    border-radius: 50%;
    transform: translate(86px , -40px);
}
.pointpenaty2{
    width: 7px;
    height: 7px;
    background-color: white;
    border-radius: 50%;
    transform: translate(32px , -40px)
}
.nomDuStade{
    width: 100%;
    font-style: italic;
    font-family: monospace;
    position: absolute;
    opacity: 0.1;
    font-size: xxx-large;
    color: white;
    transform: translate(-195px, 117px);
}
.circl{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: aquamarine;
    margin: 0 15px;
    animation: loader  infinite 0.3s alternate;
}

 .dot{
    height: 15px;
    width: 15px;
    margin: 5px;
    border-radius: 50%;
    animation: bouger 1.5s ease-in infinite;
}
.circl:nth-of-type(2){
    animation-delay: 1.2s;
   
}
.circl:nth-of-type(2){
    animation-delay: 2.2s;
   
} 
@keyframes bouger{
    0%,100%{
        width: 10px;
        height: 10px;
        transform: rotate3d(310deg);
    }

    50%{
        transform: rotate3d(205deg);
        width: 200px;
        height: 200px;
    }

}

